* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
@media screen and (max-width: 767px) {
  .banner {
    background-image: url(Home-Four-Banner-Background-Image.png);
    background-size: cover;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    padding: 5%;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  header {
    color: #fff;
    font-size: 2em;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    border-radius: 150%;
  }


  .menu {
    background-image: url(Home-Four-Banner-Background-Image.png);
    background-size: cover;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .menu li {
    padding: 10px 20px;
    list-style: none;
  }

  
  .menu a {
    font-size: 2em;
    padding: 1em 2em;
    border-radius: 25px;
  }
  
  .menu a:link, a.visited{
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .menu a:hover, a.active{
    background-color: rgb(128, 0, 70);
    color: white;
  }

  .main_content {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #main-heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .main_content p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .main_content h2 {
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .main_content h3 {
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .main_content a{
    color: #fff;
  } 

  #task{
    background-color: rgb(105, 0, 91);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
  }
  #task img{
    max-width: 100%;
    width: 200px;
    height: 120px;
    float: left;
    padding: 10px 20px;
    border-radius: 25px;
  }
  #requirements {
    background-color: rgb(78, 3, 216);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;

  }
  #submission {
    background-color: rgb(105, 0, 91);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;

  }
  #submission img{
    max-width: 100%;
    height: auto;
  }
  #grading {
    background-color: rgb(78, 3, 216);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;

  }
  #deadline {
    background-color: rgb(102, 97, 94);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;

  }

  .aside h3 {
    background-color: rgb(47, 128, 0);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .aside li{
    color: red;
  }
  .aside h4 {
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .aside article{
    background-color: rgb(248, 79, 0);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .footer {
    background-color: rgb(248, 79, 0);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .contacts {
    flex-basis: 50%;
  }
  
  .contacts h5 {
    margin-bottom: 20px;
  }
  
  .map {
    margin-top: 20px;
  }
  
  .map iframe {
    width: 50%;
    height: 200px;
  }
  
  .categories {
    flex-basis: 25%;
  }
  
  .categories h5 {
    margin-bottom: 20px;
  }
  
  .categories ul {
    list-style: none;
    padding: 0;
  }
  
  .categories li {
    margin-bottom: 10px;
  }
  
  .quick_links {
    flex-basis: 25%;
  }
  
  .quick_links h5 {
    margin-bottom: 20px;
  }
  
  .quick_links ul {
    list-style: none;
    padding: 0;
  }
  
  .quick_links li {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .banner {
    background-image: url(Home-Four-Banner-Background-Image.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 5%;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  header {
    color: #fff;
    font-size: 4em;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    border-radius: 150%;
  }

  .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5%;
  }
  .menu {
    background-image: url(Home-Four-Banner-Background-Image.png);
    background-size: cover;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 2%;
    flex-wrap: wrap;
    width: 100%;

  }
  
  .menu li {
    list-style: none;
    display:flex
    
  }

  
  .menu a {
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 25px;
  }
  
  .menu a:link, a.visited{
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .menu a:hover, a.active{
    background-color: rgb(128, 0, 70);
    color: white;
  }

  .main_content {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #main-heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .main_content p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .main_content h2 {
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .main_content h3 {
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .main_content a{
    color: #fff;
  } 

  #task{
    background-color: rgb(105, 0, 91);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
  }
  #task img{
    max-width: 100%;
    width: 200px;
    height: 120px;
    float: left;
    padding: 10px 20px;
    border-radius: 25px;
  }
  #requirements {
    background-color: rgb(78, 3, 216);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;

  }
  #submission {
    background-color: rgb(105, 0, 91);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;

  }
  #submission img{
    max-width: 100%;
    height: auto;
  }
  #grading {
    background-color: rgb(78, 3, 216);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;

  }
  #deadline {
    background-color: rgb(102, 97, 94);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;

  }

  .aside h3 {
    background-color: rgb(47, 128, 0);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .aside li{
    color: red;
  }
  .aside h4 {
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .aside article{
    background-color: rgb(248, 79, 0);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .footer {
    background-color: rgb(248, 79, 0);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .contacts {
    flex-basis: 50%;
  }
  
  .contacts h5 {
    margin-bottom: 20px;
  }
  
  .map {
    margin-top: 20px;
  }
  
  .map iframe {
    width: 50%;
    height: 200px;
  }
  
  .categories {
    flex-basis: 25%;
  }
  
  .categories h5 {
    margin-bottom: 20px;
  }
  
  .categories ul {
    list-style: none;
    padding: 0;
  }
  
  .categories li {
    margin-bottom: 10px;
  }
  
  .quick_links {
    flex-basis: 25%;
  }
  
  .quick_links h5 {
    margin-bottom: 20px;
  }
  
  .quick_links ul {
    list-style: none;
    padding: 0;
  }
  
  .quick_links li {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    background-image: url(Home-Four-Banner-Background-Image.png);
    background-size: cover;
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  header {
    color: #fff;
    font-size: 80px;
    height: 80px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: inline-block;
    margin-right: 10px;
  }
  
  .logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .menu li {
    list-style: none;
    margin-right: 20px;
  }
  
  .menu a {
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 25px;
  }
  
  .menu a:link, a.visited{
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .menu a:hover, a.active{
    background-color: rgb(128, 0, 70);
    color: white;
  }

  .main_content {
    padding: 50px;
  }
  
  #main-heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .main_content p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .main_content h2 {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .main_content h3 {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .main_content a{
    color: #fff;
  } 

  #task{
    background-color: rgb(105, 0, 91);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
  }
  #task img{
    width: 200px;
    height: 120px;
    
    float: left;
    padding: 10px 20px;
    border-radius: 25px;
  }
  #requirements {
    background-color: rgb(78, 3, 216);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;

  }
  #submission {
    background-color: rgb(105, 0, 91);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;

  }
  #grading {
    background-color: rgb(78, 3, 216);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;

  }
  #deadline {
    background-color: rgb(102, 97, 94);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;

  }

  .aside h3 {
    background-color: rgb(47, 128, 0);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .aside li{
    color: red;
  }
  .aside h4 {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .aside article{
    background-color: rgb(248, 79, 0);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .footer {
    background-color: rgb(248, 79, 0);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contacts {
    flex-basis: 50%;
  }
  
  .contacts h5 {
    margin-bottom: 20px;
  }
  
  .map {
    margin-top: 20px;
  }
  
  .map iframe {
    width: 50%;
    height: 200px;
  }
  
  .categories {
    flex-basis: 25%;
  }
  
  .categories h5 {
    margin-bottom: 20px;
  }
  
  .categories ul {
    list-style: none;
    padding: 0;
  }
  
  .categories li {
    margin-bottom: 10px;
  }
  
  .quick_links {
    flex-basis: 25%;
  }
  
  .quick_links h5 {
    margin-bottom: 20px;
  }
  
  .quick_links ul {
    list-style: none;
    padding: 0;
  }
  
  .quick_links li {
    margin-bottom: 10px;
  }
}